@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.mask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  
    border-radius: 20px;
    width: 450px;
    height: 697px;
    size: 100vh;
}            
.main-img{
width: 450px;
height: 220px;
display: flex;
align-items:flex-start;
}
h1{
    display: flex;
    width: 354px;
    height: 37px;
    color: #1f2e55;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
}
body{
    font-family: 'Red Hat Display';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.description{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #717fa6;
    width: 354px;
    height: 78px;
  
}
.music-box{
    display: flex;
   width: 354px;
   height: 98px;
   justify-content: space-around;
    
}

.music-icon{
padding-right: 20px;
width: 48px;
height: 48px;
}
h2{
    color: #1f2e55;
    font-weight: 900;
    font-size: 16px;
}
.payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pay{
    
    color: #fff;
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-left: 102px;
    
    
}
#some{
    width: 354px;
    height: 50px;
    border-radius: 11px;
    background-color: #382ae1;
}
#music-box-p{
    display: flex;
    flex-direction: column;
   padding-bottom: 25px;
    
   
}
.cancel{
    display: flex;
    justify-content: center;

}
.can{
    width: 354px;

}
.icon{
    display: flex;
    justify-content: space-between;
}
.change:hover{
    color: #766cf1;
    cursor: pointer;
}
#some:hover{
    background: #766cf1;
    cursor: pointer;
}
.cancel:hover{
    color: #1f2e55;
    cursor: pointer;
}
@media (min-width:915px) {
    .mask{
        width: 327px;
        height: 567px;
    }
}